/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

/* your custom css */

:root {
  --ifm-color-navbar: #343a40;
  --ifm-color-link: #0e88d3;
  --ifm-color-link-hover: #309bdd;
  --ifm-color-navbar-hover: #0277bd;
  --ifm-color-text: black;
  --ifm-code-font-size: 95%;
  --search-local-highlight-color: var(--ifm-color-link-hover);
}

html[data-theme="dark"] {
  --ifm-color-text: rgb(219, 219, 219);
  --ifm-homepage-logo: url("/../static/img/loghi/sl-white.svg");
  /* any other colors you wish to overwrite */
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

mark {
  background-color: greenyellow;
  border-radius: 5px;
}

.sport {
  fill: var(--ifm-color-text);
}

small {
  color: var(--ifm-color-text);
}

.row .col.col--4 {
  --ifm-col-width: 330px;
}

.logo-homepage {
  background-size: 100px 82px;
  background: var(--ifm-homepage-logo);
}

.navbar {
  background-color: var(--ifm-color-navbar);
}

.navbar__link {
  border-radius: 5px;
  color: white;
  margin-right: 3px;
}

.navbar__link:hover {
  color: white;
  background-color: var(--ifm-color-link-hover);
}

.navbar__link--active {
  color: white;
  background-color: var(--ifm-color-navbar-hover);
}

.hero__subtitle {
  margin-top: 40px;
  color: var(--ifm-color-text);
}

.dropdown__link {
  color: white;
  margin-bottom: 2px;
}

.dropdown__link:hover {
  color: white;
  background-color: var(--ifm-color-link-hover);
}

.dropdown__link--active {
  color: white;
  background-color: var(--ifm-color-navbar-hover);
}

.navbar__search-input:focus {
  outline: none;
}

.dropdown__menu {
  background-color: var(--ifm-color-navbar);
}

.menu__list-item li {
  font-size: 15px;
  font-weight: 500;
}
.menu__link:hover,
.menu__link--active {
  color: var(--ifm-color-link);
}

.table-of-contents__link:hover,
.table-of-contents__link--active {
  color: var(--ifm-color-link);
}

.footer {
  background: var(--ifm-color-navbar);
}

a {
  color: var(--ifm-color-link);
}

a:hover {
  color: var(--ifm-color-link-hover);
}
.featureTitle {
  margin-top: 20px;
  text-align: center;
}

.toc .toggleNav ul li.navListItemActive a {
  color: yellow;
}

.hardware-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.devices {
  margin-top: 40px;
  width: 100%;
}
.vertical-hardware {
  width: 40%;
}

.vertical-hardware-larger {
  width: 50%;
}

.jpeg {
  margin-bottom: 40px;
  width: 60%;
}

.svg {
  max-width: 65%;
  height: auto;
}

.redflag-small-flag {
  position: absolute;
  height: 18px;
  width: 18px;
  margin-left: 24px;
  margin-top: -6px;
}

.outer-shape {
  height: 34px;
  width: 34px;
  background-color: darkgray;
  display: inline-block;
  margin-bottom: 3px;
}

.shape {
  height: 32px;
  width: 32px;
  background-color: white;
  margin-top: 1px;
  margin-left: 1px;
  display: inline-block;
}

.second-shape {
  height: 28px;
  width: 28px;
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
}
.outer-dot,
.dot,
.second-dot {
  border-radius: 50%;
}

.outer-square,
.square,
.second-square {
  border-radius: 20%;
}

.moving {
  background: #03a9f4;
}
.not_moving {
  background: #222;
}
.sos {
  background: #f00;
}
.ok {
  background: #2fbf00;
}
.road_blocked {
  background: #f90;
}
.crash {
  background: #fc0;
}
.out {
  background: grey;
}
.yellow {
  background: yellow;
}
.moving-faded {
  background: #03a9f4;
  opacity: 0.5;
}

.number {
  font-size: 12px;
  color: white;
  font-weight: bold;
  margin-left: 4px;
}

.emoji {
  position: absolute;
  font-size: 14px;
  margin-left: 22px;
  margin-top: -8px;
}

.retired {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  color: #222;
  margin-left: 22px;
  margin-top: -10px;
}

.out_text {
  text-decoration: line-through;
}

.sos_badge {
  background-color: #dc3545;
}

.ok_badge {
  background-color: #28a745;
}

.off_badge {
  color: black;
  background-color: #ffc107;
}

.out_badge {
  background-color: gray;
}

.nmv_badge {
  background-color: #9c27b0;
}

.road_blocked_badge {
  color: black;
  background-color: #ffc107;
}

.rf_sent_badge {
  background-color: grey;
}
.rf_recv_badge {
  color: black;
  background-color: #ffc107;
}
.rf_ack_badge {
  background-color: #dc3545;
}

.crash_badge {
  color: black;
  background-color: #ffc107;
}

.collected_badge {
  content: "/f01c";
  background-color: #17a2b8;
}

.lowbat_badge {
  color: black;
  background-color: #ffc107;
}

.menuLinkText_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocSidebar-:hover {
  cursor: default;
}

.inbox {
  width: 13px;
}

.clean-btn svg {
  color: #aaa;
}
